*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../image/bottom.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.chat-container {
    width: 1200px;
    /* border: 1px solid #efefef; */
    border-radius: 5px;
}
  
.chat-header {
    display: flex;
    background-color: rgb(42, 145, 219);
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.chat-header .logo{
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}

.chat-header p{
    padding: 10px 10px 0px 10px;
    font-size: 22px;
}

.chat-header .logo img{
    width: 40px;
    border-radius: 20px;
}

.chat-body {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: auto;
    padding: 10px;
    align-items: flex-end;
}

.chat-question{
    background: #F2F3F5;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    height: 60px;
    display: flex;
}
.chat-question input{
    border-radius: 20px;
    background: #F2F3F5;
    line-height: 30px;
    padding: 8px 20px;
    border: none;
    outline: none;
    caret-color: black;
    font-size: 1rem;
    width: 100%;
    flex: 9;
}
.chat-question button{
    background: white;
    border: none;
    font-size: 26px;
    margin-right: 20px;
    cursor: pointer;
    background: #F2F3F5;
    color: purple;
}

.user-message{
    font-size: 25px;
    padding: 12px;
    background: purple;
    color: white;
    margin: 10px;
    width: max-content;
    max-width: 500px;
    border-radius: 15px;
}

.chatbot-message{
    font-size: 25px;
    padding: 12px;
    color: black;
    background: white;
    margin: 10px 50px 10px 10px;
    width: content;
    max-width: 900px;
    border-radius: 15px;
    align-self: flex-start;
}
